<section id="download" class="download bg-primary text-center meojium4">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>정말정말 고생했던 점</h2>
                <br/>
                <br/>
                <br/>
                <p>박물관 정보를 수집하고 데이터베이스에 저장하는 과정에 어려움을 느꼈습니다.</p>
                <br/>
                <p>기본 정보는 공공데이터 API를 이용하여 얻어올 수 있었지만, 소개 글이나 관련 이야기는 제가 직접 손을 움직이는 수 밖에 없었습니다.</p>
                <br/>
                <p>또한, 정리한 데이터를 데이터베이스에 자동 삽입시키는 과정에서도 많은 노력과 시간을 투자하기도 했는데요.</p>
                <br/>
                <p>앱의 아이템에 따라, 어떤 데이터를 어떻게 수집하는지를 충분히 고민해보고 앱을 기획, 설계해야 한다는 걸 느끼는 시간이었습니다.</p>
            </div>
        </div>
    </div>
</section>
