<section id="why" class="meojium">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">적용 기술</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Retrofit + GSON</h3>
                    <p class="text-muted">HTTP REST API 통신 라이브러리와 JAVA Object - JSON 파싱 라이브러리를 통해 박물관 관련 데이터를 받아왔습니다.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Glide</h3>
                    <p class="text-muted">대표적인 이미지 로딩 및 캐싱 처리 라이브러리인 Glide와 Picasso 중 속도에 우선순위를 둔 Gilde를 사용하여 박물관 이미지를 보여주도록 했습니다.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>어려웠던 점</h3>
                    <p class="text-muted">기능 적용에 대한 테스트 케이스를 생성하는게 어려웠습니다.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>즐거웠던 점</h3>
                    <p class="text-muted">서로 힘이 되어주는 친구들과 함께 오직 앱에만 집중할 수 있는 정말정말 소중한 시간이었습니다.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>어려웠던 점</h3>
                    <p class="text-muted">기능 적용에 대한 테스트 케이스를 생성하는게 어려웠습니다.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>즐거웠던 점</h3>
                    <p class="text-muted">서로 힘이 되어주는 친구들과 함께 오직 앱에만 집중할 수 있는 정말정말 소중한 시간이었습니다.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>어려웠던 점</h3>
                    <p class="text-muted">기능 적용에 대한 테스트 케이스를 생성하는게 어려웠습니다.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>즐거웠던 점</h3>
                    <p class="text-muted">서로 힘이 되어주는 친구들과 함께 오직 앱에만 집중할 수 있는 정말정말 소중한 시간이었습니다.</p>
                </div>
            </div>
        </div>
    </div>
</section>
