
    <section id="features" class="features">
        <div class="container">
           <!--  <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Unlimited Features, Unlimited Fun</h2>
                        <p class="text-muted">Check out what you can do with this app theme!</p>
                        <hr>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="/img/demo-screen-1.jpg" class="img-responsive" alt=""> </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <br/>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="feature-item">
                                    <!-- <i class="icon-screen-smartphone text-primary"></i> -->
                                    <h1>박물관에 대한 상세보기를 제공합니다.</h1>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-present text-primary"></i>
                                    <h3>기본정보</h3>
                                    <p class="text-muted">위치, 영업시간, 휴관일, 홈페이지 등 기본 정보를 볼 수 있습니다.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-camera text-primary"></i>
                                    <h3>리뷰</h3>
                                    <p class="text-muted">박물관에 대한 리뷰를 통해 좋았던 점, 아쉬웠던 점 등을 공유할 수 있습니다.</p>
                                </div>
                            </div>
                            <br/> 
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-lock-open text-primary"></i>
                                    <h3>찜하기</h3>
                                    <p class="text-muted">관심있는 박물관을 찜할 수 있습니다. </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-lock-open text-primary"></i>
                                    <h3>스탬프</h3>
                                    <p class="text-muted">다녀온 박물관을 스탬프할 수 있습니다.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
