    
    <!-- Detail -->

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="/img/meojium-detail.png" class="img-responsive" alt=""> </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <br/>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="feature-item">
                                    <!-- <i class="icon-screen-smartphone text-primary"></i> -->
                                    <h1>박물관에 대한 상세보기를 제공합니다.</h1>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-present text-primary"></i>
                                    <h3>기본정보</h3>
                                    <p class="text-muted">위치, 영업시간, 휴관일, 홈페이지 등 기본 정보를 볼 수 있습니다.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-camera text-primary"></i>
                                    <h3>리뷰</h3>
                                    <p class="text-muted">박물관에 대한 리뷰를 통해 좋았던 점, 아쉬웠던 점 등을 공유할 수 있습니다.</p>
                                </div>
                            </div>
                            <br/> 
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-lock-open text-primary"></i>
                                    <h3>찜하기</h3>
                                    <p class="text-muted">관심있는 박물관을 찜할 수 있습니다. </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-lock-open text-primary"></i>
                                    <h3>스탬프</h3>
                                    <p class="text-muted">다녀온 박물관을 스탬프할 수 있습니다.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <!-- Story -->

    <section id="features" class="features">
        <div class="container" id="meojium">
            <div class="row">
                <div class="col-md-8">
                    <div class="container-fluid">
                        <br/>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="feature-item">
                                    <!-- <i class="icon-screen-smartphone text-primary"></i> -->
                                    <h1>박물관에 대한 이야기를 들려줍니다.</h1>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-present text-primary"></i>
                                    <h3>사연</h3>
                                    <p class="text-muted">박물관과 관련된 사연을 들려줍니다.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-camera text-primary"></i>
                                    <h3>포인트</h3>
                                    <p class="text-muted">박물관에 방문할 때 들러보면 좋은 곳을 알려줍니다.</p>
                                </div>
                            </div>
                            <br/> 
                            <div class="col-md-12">
                                <div class="feature-item">
                                    <i class="icon-lock-open text-primary"></i>
                                    <h3>방송</h3>
                                    <p class="text-muted">방송에 등장한 적이 있는 박물관을 소개합니다.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="/img/meojium-story.png" class="img-responsive" alt=""> </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <!-- Nearby -->

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="/img/meojium-nearby.png" class="img-responsive" alt=""> </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <br/>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="feature-item">
                                    <!-- <i class="icon-screen-smartphone text-primary"></i> -->
                                    <h1>지도 상에 박물관을 표시해줍니다.</h1>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="feature-item">
                                    <i class="icon-present text-primary"></i>
                                    <h3>특정 위치</h3>
                                    <p class="text-muted">특정 위치를 기준으로 주변에 있는 박물관을 보여줍니다.</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="feature-item">
                                    <i class="icon-camera text-primary"></i>
                                    <h3>현재 위치</h3>
                                    <p class="text-muted">현재 위치를 기준으로 주변에 있는 박물관을 보여줍니다.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
