     <section id="video" class="features meojium2" >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="feature-item">
                        <h1>시연 영상</h1>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="device-container">
                        <div class="device-mockup galaxy_s5 portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <div class="img-responsive">
                                        <video width="340" height="600" controls=""> <source src="/img/video.mp4?autoplay=0" type="video/mp4"/>
                                    </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

